a {
    color: rgb(144, 184, 157);
    text-decoration: none;
  }

body {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

div#head {
    background-color: #d5ecdf;
    width: 100%;
    padding: 5px;
}

div#contact{
    width: 100%;
    padding-bottom: 20px;
}

div#skills{
    background-color: #d5ecdf;
    width: 100%;
    padding: 5px;
}

footer#foot{
    background-color: black;
    width: 100%;
    padding: 5px;
}

img#profile-picture {
    border-radius: 15px;
  }

header{
    background-color: black;
    color: #d5ecdf;
    width: 100%;
    padding: 5px;
    font-size: 15px;
}