a {
    color: #415A77;
    text-decoration: none;
  }

body {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    background-color: #E0E1DD;
    color: #E0E1DD;
}

div#head {
    background-color: #415A77;
    width: 100%;
    padding: 5px;
}

div#contact{
    width: 100%;
    padding-bottom: 20px;
    color:#415A77;
}

div#skills{
    width: 100%;
    padding: 5px;
    color:#415A77;
}

footer#foot{
    background-color: #0D1B2A;
    width: 100%;
    padding: 5px;
}

img#profile-picture {
    border-radius: 15px;
  }

header{
    background-color: #0D1B2A;
    color: #415A77;
    width: 100%;
    padding: 5px;
    font-size: 15px;
}